<h2 class="title">Megh Dooth Time & Labour Integration Tool Setup</h2>
<div class="tab-nav">
  <a routerLinkActive="active" class="nav-link" routerLink="/datasource">Datasource</a>
  <a routerLinkActive="active" class="nav-link" routerLink="/cloud">Cloud</a>
  <a routerLinkActive="active" class="nav-link" routerLink="/notification">Notification</a>
  <a routerLinkActive="active" class="nav-link" routerLink="/scheduling">Scheduling</a>  
  <a routerLinkActive="active" class="nav-link" routerLink="/rules">Rules</a>     
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-3">
        <form [formGroup]="cloudForm" (ngSubmit)="onSubmit(cloudForm.value)">
          <div class="form-group">
             <label>Organization Name:</label>
            <input  type="text" pInputText class="form-control" formControlName="organizationName" [ngClass]="{ 'is-invalid': submitted && f.organizationName.errors }">
            <div *ngIf="submitted && f.organizationName.errors" class="invalid-feedback">
              <div *ngIf="f.organizationName.errors.required">Organization Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Instance URL:</label>
            <input  type="text" pInputText class="form-control" formControlName="instanceUrl" [ngClass]="{ 'is-invalid': submitted && f.instanceUrl.errors }">

            <div *ngIf="submitted && f.instanceUrl.errors" class="invalid-feedback">
              <div *ngIf="f.instanceUrl.errors.required">Instance URL is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Web Service URL:</label>
            <input  type="text" pInputText type="text" class="form-control" formControlName="webServiceUrl" [ngClass]="{ 'is-invalid': submitted && f.webServiceUrl.errors }">
            <div *ngIf="submitted && f.webServiceUrl.errors" class="invalid-feedback">
                <div *ngIf="f.webServiceUrl.errors.required">web Service Url is required</div>
              </div>
          </div>
          <div class="form-group">
            <label>Username:</label>
            <input  type="text" pInputText class="form-control" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
            <div *ngIf="submitted && f.webServiceUrl.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">Username is required</div>
              </div>
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input   pInputText type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
          </div> 
          
          <button type="proceed" class="btn btn-primary fl-r">Proceed</button> 
          <button type="save" class="btn btn-primary fl-r m-r-20">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>