<h2 class="title">Megh Dooth Time & Labour Integration Tool Setup</h2>
<div class="tab-nav">
    <a routerLinkActive="active" class="nav-link" routerLink="/datasource">Datasource</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/cloud">Cloud</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/notification">Notification</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/scheduling">Scheduling</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/rules">Rules</a>
    <!-- <a href="./cloud" > Cloud</a>
<a href="./notification">Notification</a>
<a href="./scheduling">Scheduling</a>
<a href="./rules" class="active">Rules</a> -->
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">
                <form [formGroup]="rulesForm" (ngSubmit)="onSubmit(rulesForm.value)">
                    <div class="form-group">
                        <input type="checkbox" formControlName="removeDuplicates" [(ngModel)]="removeDuplicates" />
                        <label>Remove Duplicates : </label>
                    </div>
                    <div class="form-group">
                        <label>Shift Prioritization: </label>
                        <select name="shifPriority" formControlName="shifPriority" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.shifPriority.errors }"
                        > 
                            <option value="" disabled selected>Select your option</option>
                            <option [value]="freq" *ngFor="let freq of shiftPrioritizationData">
                                {{freq}}</option>
                        </select>  
                        <div *ngIf="submitted && f.shifPriority.errors" class="invalid-feedback">
                                <div *ngIf="f.shifPriority.errors.required">Shift Prioritization is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Shift Difference: </label>
                        <input formControlName="shiftDifferences" class="form-control" maxlength="23" 
                         size="2" min="0" max="24" type="number"
                          [ngClass]="{ 'is-invalid': submitted && f.shiftDifferences.errors }"
                        /> Hour(s)
                        <div *ngIf="submitted && f.shiftDifferences.errors" class="invalid-feedback">
                            <div *ngIf="f.shiftDifferences.errors.required">Shift Difference is required</div>
                        </div>
                    </div>

                    <button type="proceed" class="btn btn-primary fl-r">Proceed</button> 
                    <button type="save" class="btn btn-primary fl-r m-r-20">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>