<h2 class="title">Megh Dooth Time & Labour Integration Tool Setup</h2>
<div class="tab-nav">
    <a routerLinkActive="active" class="nav-link" routerLink="/datasource">Datasource</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/cloud">Cloud</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/notification">Notification</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/scheduling">Scheduling</a>  
    <a routerLinkActive="active" class="nav-link" routerLink="/rules">Rules</a>  
</div>
<div class="jumbotron"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="notificationForm" (ngSubmit)="onSubmit(notificationForm.value)">
                    <div class="form-group">
                        <input type="checkbox" formControlName="emailNotificationRequired" [(ngModel)]="emailNotificationRequired" />
                        <label>Email Notification Required : </label>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Server/Host::</label>
                            <input type="text" class="form-control" formControlName="hostName" [ngClass]="{ 'is-invalid': submitted && f.hostName.errors }">
                            <div *ngIf="submitted && myControl.hostName.errors" class="invalid-feedback">
                                <div *ngIf="f.hostName.errors.required">hostName is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Port :</label>
                            <input type="text" class="form-control" formControlName="port" [ngClass]="{ 'is-invalid': submitted && f.port.errors }">
                            <div *ngIf="submitted && f.port.errors" class="invalid-feedback">
                                <div *ngIf="f.port.errors.required">port is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                            <div *ngIf="f.userName.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>from:</label>
                        <input type="text" class="form-control" formControlName="fromEmailId" [ngClass]="{ 'is-invalid': submitted && f.fromEmailId.errors }">
                        <div *ngIf="submitted && f.fromEmailId.errors" class="invalid-feedback">
                            <div *ngIf="f.fromEmailId.errors.required">from is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>subject :</label>
                        <input type="text" class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                            <div *ngIf="f.subject.errors.required">subject is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" formControlName="dailyNotification" />
                        <label>Daily Notification </label>
                        <input type="checkbox" formControlName="onErrorNotification" />
                        <label>On Error Notification </label>
                    </div>
                     <button type="proceed" class="btn btn-primary fl-r">Proceed</button> 
                    <button type="save" class="btn btn-primary fl-r m-r-20">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>