
<div class="col-md-12  home-container">
	<div class="row">
		<div class="col-md-5 login-img min-h-400">
				<img src="assets/images/sierra-cedar_logo.png" alt="" class="logo">
		</div>
	<div class="col-md-7 min-h-400 pt-50">
	<div class="alert alert-danger" [hidden]="!error">
		There was a problem logging in. Please try again.
	</div>

	<form role="form" (submit)="login()">
		<div class="form-group">
			<label for="username">Username</label>
			<input pInputText type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username"
			/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"
			/>
		</div>
		<a routerLinkActive="active" class="nav-link forgot-link" routerLink="" (click)="logout()">Forgot password?</a>
		<div><button type="submit" class="btn btn-primary fl-r">Login</button></div>
	</form>
</div>
</div>
</div>