<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-transparent" *ngIf="isLoggedIn()">
  <div class="container">
      <a class="navbar-brand" data-scroll href="#home">
          <img src="assets/images/sierra-cedar_logo.png" alt="" class="logo">
        </a>
<ul class="nav navbar-nav">
  <!-- <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/home">Home</a></li>
  <li class="nav-item"><a routerLinkActive="active" class="nav-link" routerLink="/login">Login</a></li> --> 
        
  <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="/cloud" >Configuration</a>
    </li>
    <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="" >Users</a>
      </li>
      <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="" >Reports</a>
        </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="" (click)="logout()">Logout</a>
      </li>
    
    <!-- <button (click)="logout()">Logout</button>  --> 
  
</ul>

</div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>