<h2 class="title">Megh Dooth Time & Labour Integration Tool Setup</h2>
<div class="tab-nav">
  <a routerLinkActive="active" class="nav-link" routerLink="/datasource">Datasource</a>
  <a routerLinkActive="active" class="nav-link" routerLink="/cloud">Cloud</a>
  <a routerLinkActive="active" class="nav-link" routerLink="/notification">Notification</a>
  <a routerLinkActive="active" class="nav-link" routerLink="/scheduling">Scheduling</a>  
  <a routerLinkActive="active" class="nav-link" routerLink="/rules">Rules</a>     
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-3">
        <form [formGroup]="datasourceForm" (ngSubmit)="onSubmit(datasourceForm.value)">
            <p-toast position="top-right"></p-toast>
          <div class="form-group">
             <label>Datasource Type:</label>
            <p-dropdown [options]="datasources" formControlName="datasourceType" [ngClass]="{ 'is-invalid': submitted && f.datasourceType.errors }"></p-dropdown>
            <div *ngIf="submitted && f.datasourceType.errors" class="invalid-feedback">
              <div *ngIf="f.datasourceType.errors.required">Datasource Type is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Host Name:</label>
            <input  type="text" pInputText class="form-control" formControlName="hostName" [ngClass]="{ 'is-invalid': submitted && f.hostName.errors }">
            <!-- <div *ngIf="submitted && f.hostName.errors" class="invalid-feedback">
              <div *ngIf="f.hostName.errors.required">Host Name is required</div>
            </div> -->
          </div>
          <div class="form-group">
            <label>Port:</label>
            <input  type="text" pInputText type="text" class="form-control" formControlName="port" [ngClass]="{ 'is-invalid': submitted && f.port.errors }">
            <div *ngIf="submitted && f.port.errors" class="invalid-feedback">
                <div *ngIf="f.port.errors.required">Port is required</div>
              </div>
          </div>
          <div class="form-group">
            <label>Schema Name:</label>
            <input  type="text" pInputText type="text" class="form-control" formControlName="schemaName" [ngClass]="{ 'is-invalid': submitted && f.schemaName.errors }">
            <div *ngIf="submitted && f.schemaName.errors" class="invalid-feedback">
                <div *ngIf="f.schemaName.errors.required">Schema Name is required</div>
              </div>
          </div>
          <div class="form-group">
            <label>Username:</label>
            <input  type="text" pInputText class="form-control" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">Username is required</div>
              </div>
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input   pInputText type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
          </div> 
          
          <button type="proceed" class="btn btn-primary fl-r">Proceed</button> 
          <button type="save" class="btn btn-primary fl-r m-r-20">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>