body{background:#0068b3; }
.navbar{box-shadow:0px 2px 2px #666666;}
.navbar .container{ padding: 0;}
.container{background: #fff; padding:0; }
.login-container{ min-height: 400px; padding-top: 100px;}
.home-container{ min-height: 400px; margin-top:100px; border-radius: 10px;}
.navbar-light .navbar-nav .nav-link{ color:#0068b3;}
.navbar-light .navbar-nav .show > 
.nav-link, .navbar-light .navbar-nav .active > 
.nav-link, .navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active { color: #0068b3; font-weight: bold;}
button{min-width: 100px;}
h2.title{ text-align: center; color:#0068b3;font-weight: 400; padding-bottom:30px; padding-top:20px;}
.jumbotron{padding:30px 0;background: #fff;}
.tab-nav{background: #999; height: 70px;  font-size:20px; text-align: center;  }
.tab-nav a{color:#fff;  width:150px; display: inline-flex; justify-content: center;}
.tab-nav a.active{
    background: #0068b3;
    text-decoration: none;
    border-top: 0px solid #ddd;
    line-height: 54px;
    text-align: center;
}
.tab-nav a:hover{
    background: #666; 
    text-decoration: none;
    line-height: 54px;
     border-top: 0px solid #666;
}
input[type="radio"], input[type="checkbox"]{padding:5px;}
.login-img{background: #eee;} 
.min-h-400{min-height: 400px;}
.pt-50 {padding:50px 100px;}
.container {
    max-width: 1300px;
}
.fl-r{float:right;}
.m-r-20{margin-right: 20px;}