
<ngb-tabset class="tabset1">
  <ngb-tab title="Cloud">
    <ng-template ngbTabContent>
			<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
				Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
				Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
				cardigan american apparel, butcher voluptate nisi qui.</p>
		</ng-template>


  </ngb-tab>
  <ngb-tab title="Notification">
    	<ng-template ngbTabContent>
         
          <p>  Notification  </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Scheduling">
      	<ng-template ngbTabContent>
        <p>  Scheduling  </p>
      </ng-template>
    </ngb-tab>
</ngb-tabset>