<h2 class="title">Megh Dooth Time & Labour Integration Tool Setup</h2>
<div class="tab-nav">
    <a routerLinkActive="active" class="nav-link" routerLink="/datasource">Datasource</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/cloud">Cloud</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/notification">Notification</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/scheduling">Scheduling</a>
    <a routerLinkActive="active" class="nav-link" routerLink="/rules">Rules</a>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="schedulingForm" (ngSubmit)="onSubmit(schedulingForm.value)">
                    <div class="form-group">
                        <label>File Path:</label>
                        <input type="text" class="form-control" formControlName="filePath" [ngClass]="{ 'is-invalid': submitted && f.filePath.errors }">
                        <div *ngIf="submitted && f.filePath.errors" class="invalid-feedback">
                            <div *ngIf="f.filePath.errors.required">File Path is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Frequency: </label>
                        <select name="frequencyType" formControlName="frequencyType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.frequencyType.errors }">
                            <option value="" selected>Select your option</option>
                            <option [value]="freq" *ngFor="let freq of frequencyData">
                                {{freq}}</option>
                        </select>
                        <div *ngIf="submitted && f.frequencyType.errors" class="invalid-feedback">
                            <div *ngIf="f.frequencyType.errors.required">Frequency is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div *ngIf="schedulingForm.value.frequencyType === 'Minutes/Hour'" class="ui-g" style="width:250px;margin-bottom:10px">
                            <div class="ui-g-12">
                                <p-radioButton name="everyInterval" formControlName="everyInterval" value="Hour" inputId="hourOpt1"></p-radioButton>
                                <input formControlName="hourInterval" class="form-control" maxlength="23" size="2" min="1" max="24" type="number" [ngClass]="{ 'is-invalid':submitted && f.hourInterval.errors
                                 && (schedulingForm.value.everyInterval === 'Hour') }" /> Hour(s)
                                <div *ngIf="submitted && f.hourInterval.errors
                                && (schedulingForm.value.everyInterval === 'Hour')" class="invalid-feedback">
                                    <div *ngIf="f.hourInterval.errors.required">Hours is required</div>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <p-radioButton name="everyInterval" formControlName="everyInterval" value="Minute" inputId="minuteOpt2"></p-radioButton>
                                <input formControlName="minuteInterval" class="form-control" maxlength="23" size="2" min="1" max="60" type="number" [ngClass]="{ 'is-invalid':submitted && f.minuteInterval.errors
                                 && (schedulingForm.value.everyInterval === 'Minute') }" /> Minute(s)
                                <div *ngIf="submitted && f.minuteInterval.errors
                                && (schedulingForm.value.everyInterval === 'Minute')" class="invalid-feedback">
                                    <div *ngIf="f.minuteInterval.errors.required">Minutes is required</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="schedulingForm.value.frequencyType === 'Monthly'">
                            <select name="monthlyDay" formControlName="monthlyDay" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.monthlyDay.errors }">
                                <option value="" disabled selected>Select your option</option>
                                <option value="First Day of the Month">
                                    First Day of the Month
                                </option>
                                <option value="Last Day of the Month">
                                    Last Day of the Month
                                </option>
                            </select>
                            <div *ngIf="submitted && f.monthlyDay.errors" class="invalid-feedback">
                                <div *ngIf="f.monthlyDay.errors.required">Frequency is required</div>
                            </div>
                        </div>
                        <div *ngIf="schedulingForm.value.frequencyType === 'Weekly OR Bi-Weekly'">

                        </div>
                    </div>
                    <div class="form-group">
                        <label>Start Date Time: </label>
                        <!--  <input type="datetime-local" class="form-control" 
                        formControlName="startTime" 
                         [ngModel]="filteStartDateFrom | date:'yyyy-MM-ddTHH:mm'"
                            (ngModelChange)="startTime = $event.value"> -->
                        <p-calendar showIcon="true" formControlName="startTime" showTime="true" hourFormat="12"></p-calendar>
                        <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
                            <div *ngIf="f.startTime.errors.required">Start Date Time is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date Time: </label>
                        <!-- <input type="datetime-local" class="form-control"
                             formControlName="endTime" [ngModel]="filterendTimeFrom | 
                             date:'yyyy-MM-ddTHH:mm'"
                            (ngModelChange)="endTime = $event.target.value">   -->
                        <p-calendar showIcon="true" formControlName="endTime" showTime="true" hourFormat="24"></p-calendar>
                        <div *ngIf="submitted && f.endTime.errors" class="invalid-feedback">
                            <div *ngIf="f.endTime.errors.required">End Date Time is required</div>
                        </div>

                    </div>
                    <button type="proceed" class="btn btn-primary fl-r">Proceed</button>
                    <button type="save" class="btn btn-primary fl-r m-r-20">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>